@keyframes ds-caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}

.ds-input-otp {
  display: flex;
  align-items: center;
}
.ds-input-otp:has(input:disabled) {
  opacity: 0.5;
}

.ds-input-otp-input {
  cursor: default;
}
.ds-input-otp-input:disabled {
  cursor: not-allowed;
}

.ds-input-otp-group {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0;
}
.ds-input-otp-group:has([aria-invalid="true"]) {
  border-bottom-color: var(--destructive);
}
.dark .ds-input-otp-group:has([aria-invalid="true"]) {
  border-bottom-color: color-mix(in oklab, var(--destructive) 50%, transparent);
}

.ds-input-otp-slot {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid transparent;
  border-bottom-color: var(--input);
  background-color: transparent;
  font-size: 0.875rem;
  line-height: calc(1.25 / 0.875);
  transition-property: color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  outline: none;
  border-radius: 0;
}
.ds-input-otp-slot[aria-invalid="true"] {
  border-bottom-color: var(--destructive);
}
.dark .ds-input-otp-slot[aria-invalid="true"] {
  border-bottom-color: color-mix(in oklab, var(--destructive) 50%, transparent);
}
.ds-input-otp-slot[data-active="true"] {
  z-index: 10;
  border-bottom-color: var(--ring);
}

.ds-input-otp-slot-caret {
  pointer-events: none;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ds-input-otp-slot-caret-line {
  height: 1rem;
  width: 1px;
  background-color: var(--foreground);
  animation: ds-caret-blink 1.25s ease-out infinite;
}

.ds-input-otp-separator {
  display: flex;
  align-items: center;
}
.ds-input-otp-separator svg:not([class*="size-"]) {
  width: 0.875rem;
  height: 0.875rem;
}
