@layer utilities {
  .ds-message-group {
    display: flex;
    min-width: 0;
    flex-direction: column;
    gap: 0.5rem;
  }

  .ds-message {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 0;
    gap: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .ds-message[data-align="end"] {
    flex-direction: row-reverse;
  }

  .ds-message-avatar {
    display: flex;
    width: fit-content;
    min-width: 2rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    overflow: hidden;
    border-radius: 0;
    background-color: var(--muted);
  }
  .ds-message:has([data-slot="message-footer"]) .ds-message-avatar {
    translate: 0 -2rem;
  }

  .ds-message-content {
    display: flex;
    width: 100%;
    min-width: 0;
    flex-direction: column;
    gap: 0.625rem;
    overflow-wrap: break-word;
  }
  .ds-message[data-align="end"] > .ds-message-content > [data-slot] {
    align-self: flex-end;
  }

  .ds-message-header,
  .ds-message-footer {
    display: flex;
    max-width: 100%;
    min-width: 0;
    align-items: center;
    padding-inline: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    letter-spacing: 0.025em;
    color: var(--muted-foreground);
    text-transform: uppercase;
  }
  .ds-message:has([data-variant="ghost"]) .ds-message-header,
  .ds-message:has([data-variant="ghost"]) .ds-message-footer {
    padding-inline: 0;
  }
  .ds-message[data-align="end"] .ds-message-footer {
    justify-content: flex-end;
  }
}
