@layer utilities {
  .ds-pagination-content {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .ds-pagination-previous {
    padding-inline-start: 0.5rem !important;
  }

  .ds-pagination-next {
    padding-inline-end: 0.5rem !important;
  }

  :where([dir="rtl"], [dir="rtl"] *) .ds-pagination-caret {
    rotate: 180deg;
  }

  .ds-pagination-label {
    display: none;
  }
  @media (min-width: 640px) {
    .ds-pagination-label {
      display: block;
    }
  }

  .ds-pagination-ellipsis {
    display: flex;
    width: 2.25rem;
    height: 2.25rem;
    align-items: center;
    justify-content: center;
  }
  .ds-pagination-ellipsis svg:not([class*="size-"]) {
    width: 1rem;
    height: 1rem;
  }
}
