@layer utilities {
  .ds-slider:where([data-orientation="horizontal"]) {
    width: 100%;
  }
  .ds-slider:where([data-orientation="vertical"]) {
    height: 100%;
  }

  .ds-slider-control {
    position: relative;
    display: flex;
    width: 100%;
    touch-action: none;
    align-items: center;
    user-select: none;
  }
  .ds-slider-control[data-disabled] {
    opacity: 0.5;
  }
  .ds-slider-control:where([data-orientation="vertical"]) {
    height: 100%;
    min-height: 10rem;
    width: auto;
    flex-direction: column;
  }

  .ds-slider-track {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    background: color-mix(in oklab, var(--input) 50%, transparent);
    user-select: none;
  }
  .ds-slider-track:where([data-orientation="horizontal"]) {
    height: 0.125rem;
    width: 100%;
  }
  .ds-slider-track:where([data-orientation="vertical"]) {
    height: 100%;
    width: 0.125rem;
  }

  .ds-slider-range {
    background: var(--primary);
    user-select: none;
  }
  .ds-slider-range:where([data-orientation="horizontal"]) {
    height: 100%;
  }
  .ds-slider-range:where([data-orientation="vertical"]) {
    width: 100%;
  }

  .ds-slider-thumb {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    flex-shrink: 0;
    border: none;
    background: var(--primary);
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    user-select: none;
  }
  .ds-slider-thumb:hover {
    box-shadow: 0 0 0 2px color-mix(in oklab, var(--ring) 30%, transparent);
  }
  .ds-slider-thumb:focus-visible {
    box-shadow: 0 0 0 2px color-mix(in oklab, var(--ring) 30%, transparent);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .ds-slider-thumb:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
