@layer utilities {
  .ds-snippet {
    display: inline-flex;
    max-width: 100%;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0;
    border: 1px solid var(--border);
    background-color: var(--muted);
    padding-block: 0.375rem;
    padding-inline-end: 0.375rem;
    padding-inline-start: 0.75rem;
    font-family: var(--font-mono);
    font-size: 0.875rem;
    line-height: calc(1.25 / 0.875);
  }

  .ds-snippet-code {
    overflow-x: auto;
    white-space: pre;
    color: var(--foreground);
  }

  .ds-snippet-copy-button {
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background-color: transparent;
    color: var(--muted-foreground);
  }
  .ds-snippet-copy-button:hover {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }
  .ds-snippet-copy-button svg {
    width: 0.75rem;
    height: 0.75rem;
  }
}
