.ds-switch {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  outline: none;
}
.ds-switch::after {
  content: "";
  position: absolute;
  inset-inline: -0.75rem;
  inset-block: -0.5rem;
}
.ds-switch:focus-visible {
  border-color: var(--ring);
  box-shadow: 0 0 0 2px color-mix(in oklab, var(--ring) 30%, transparent);
}
.ds-switch[aria-invalid="true"] {
  border-color: var(--destructive);
  box-shadow: 0 0 0 2px color-mix(in oklab, var(--destructive) 20%, transparent);
}
.dark .ds-switch[aria-invalid="true"] {
  border-color: color-mix(in oklab, var(--destructive) 50%, transparent);
  box-shadow: 0 0 0 2px color-mix(in oklab, var(--destructive) 40%, transparent);
}
.ds-switch[data-size="default"] {
  height: 1.125rem;
  width: 2.0625rem;
}
.ds-switch[data-size="sm"] {
  height: 0.875rem;
  width: 1.5625rem;
}
.ds-switch[data-checked] {
  border-color: var(--primary);
  background: var(--primary);
}
.ds-switch[data-unchecked] {
  border-color: color-mix(in oklab, var(--input) 50%, transparent);
  background: var(--input);
}
.ds-switch[data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.ds-switch-thumb {
  display: block;
  pointer-events: none;
  background: var(--background);
  box-shadow: none;
  transition-property: transform, translate, scale, rotate;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
:where(.ds-switch[data-size="default"]) .ds-switch-thumb {
  width: 0.875rem;
  height: 0.875rem;
}
:where(.ds-switch[data-size="sm"]) .ds-switch-thumb {
  width: 0.625rem;
  height: 0.625rem;
}
.ds-switch-thumb[data-checked] {
  translate: calc(100% + 2px) 0;
}
.ds-switch-thumb[data-unchecked] {
  translate: 0.0625rem 0;
}
:where([dir="rtl"], [dir="rtl"] *) .ds-switch-thumb[data-checked] {
  translate: calc(-100% - 2px) 0;
}
:where([dir="rtl"], [dir="rtl"] *) .ds-switch-thumb[data-unchecked] {
  translate: -0.0625rem 0;
}
.dark .ds-switch-thumb[data-checked] {
  background: var(--primary-foreground);
}
.dark .ds-switch-thumb[data-unchecked] {
  background: var(--foreground);
}
